@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

@layer components {
  .error_popup {
    @apply mx-auto rounded-3xl bg-red-300 h-auto w-[150px];
  }
  .loading {
    @apply h-12 w-12 mx-auto border-dark-7 border-[5px] rounded-full border-dashed animate-spin
  }
  .player-item {
    @apply border-dark-6 border overflow-hidden rounded-xl flex-1
  }
}
